* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
}

.page {
    background-color: lightblue ;
    height: 100vh;
}

#whole-card {
    margin: 10% auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10%; /* Added */
    border-radius: 6%;
    text-align: center;
    width: 20rem; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card-title{
    font-weight: bold;
}

.card-text {
    color: grey;
    margin: 1rem;
    padding: 1rem;
}

.attribution {
    display: flex;
    justify-content: center;
}

.frontend {
    padding-right: 1rem;
}

